<div class="row-wrapper" style="border: 1px solid">
  <div class="column">
    <app-face-down-cards [numberOfCards]="15" [cardOverlap]="50" [direction]="'vertical'"></app-face-down-cards>
  </div>
  <div class="column-center"  style="border: 1px solid">
    <div class="row"  style="border: 1px solid">
      <app-face-down-cards [numberOfCards]="15" [cardOverlap]="50"></app-face-down-cards>
    </div>
    <div class="row-center"  style="border: 1px solid">
      <app-deck></app-deck>
    </div>
    <div class="row"  style="border: 1px solid">
      <app-face-down-cards [numberOfCards]="15" [cardOverlap]="50"></app-face-down-cards>
    </div>

  </div>
  <div class="column"  style="border: 1px solid">
    <app-face-down-cards [numberOfCards]="15" [cardOverlap]="50" [direction]="'vertical'"></app-face-down-cards>
  </div>
</div>

